body
{
  margin: 0 1em;
  text-align: center;
}

rect
{
  fill: #58b;
  stroke: #fff;
}

svg
{
  font: 10px sans-serif;
  shape-rendering: crispedges;
  width: 100%;
}

#clients
{
  background: #ff9;
  border-radius: .4em;
  display: inline-block;
  margin: 1em 0;
  padding: .2em 1em;
}

#socket
{
  background: #ff9;
  border-radius: 0 0 .4em .4em;
  display: inline-block;
  margin: 0 0 1em;
  padding: .2em 1em;
}

.chi
{
  text-anchor: end;
}

.disconnected
{
  background: #fcc !important;
}
