body
{
  font-family: sans-serif;
  margin: 0 1em 1em;
  text-align: center;
}

circle
{
  opacity: .8;
}

circle:hover
{
  opacity: 1;
}

path.line
{
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

rect.all
{
  fill: #58b;
  shape-rendering: crispEdges;
}

rect.hit
{
  fill: #f60;
  shape-rendering: crispEdges;
}

svg
{
  font: 10px sans-serif;
  margin: 1em 0;
}

svg.bar
{
  height: 160px;
  width: 100%;
}

svg.line
{
  height: 80px;
  width: 100%;
}

svg.line .y.axis line, svg.line .y.axis path
{
  fill: none;
  stroke: #000;
}

svg.line .x.axis path
{
  display: none;
}

text.chi
{
  text-anchor: end;
}

#chiPqsn svg
{
  height: 320px;
}

#chiPqsn .x.axis text
{
  text-anchor: start;
}

#chiPqsn .axis line, #chiPqsn .axis path
{
  fill: none;
  stroke: #000;
}

#clientCount
{
  background: #ff9;
  border-radius: .2em;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
  display: inline-block;
  padding: 0 .4em;
}

#sktStatus
{
  background: #ff9;
  border-radius: 0 0 .2em .2em;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
  display: inline-block;
  padding: 0 .4em;
}

.area
{
  fill: #eee;
}

.axis
{
  shape-rendering: crispEdges;
}

.control
{
  cursor: pointer;
  fill: transparent;
}

.disconnected
{
  background: #fcc !important;
}

.extent
{
  fill: #58b;
  opacity: .3;
  shape-rendering: crispEdges;
}
